{% extends 'base/base.html' %}
{% load static %}
{% block extcss %}
    <link rel="stylesheet" href="{% static 'mine/css/registe.css' %}">
{% endblock %}
{% block extjs %}
    <script src="{% static 'mine/js/registe.js' %}"></script>
{% endblock %}
{% block title %}
    爱鲜蜂 | 注册
{% endblock %}
{% block content %}
    <div class="register">
        <div class="back">
            <a href="{% url 'App:mine' %}">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
        <form action="{% url 'App:registe' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group has-feedback" id="account">
                <div class="input-group">
                    <div class="input-group-addon">账号</div>
                    <input type="text" class="form-control" placeholder="请输入数字或字母" name="account" required="required">
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
                <i></i>
            </div>
            <div class="form-group" id="password">
                <div class="input-group">
                    <div class="input-group-addon">密码</div>
                    <input type="password" class="form-control" placeholder="请输入6~12位密码" name="password" required="required">
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
                <i></i>
            </div>
            <div class="form-group" id="passwd">
                <div class="input-group">
                    <div class="input-group-addon">密码</div>
                    <input type="password" class="form-control" placeholder="请输入6~12位密码" name="passwd" required="required">
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
                <i></i>
            </div>
            <div class="form-group" id="name">
                <div class="input-group">
                    <div class="input-group-addon">名字</div>
                    <input type="text" class="form-control" placeholder="昵称" name="name" required="required">
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
                <i></i>
            </div>
            <div class="form-group" id="tel">
                <div class="input-group">
                    <div class="input-group-addon">手机</div>
                    <input type="text" class="form-control" placeholder="请输入手机号码" name="tel" required="required">
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
                <i></i>
            </div>
            <div class="form-group" id="addr">
                <div class="input-group">
                    <div class="input-group-addon">地址</div>
                    <input type="text" class="form-control" placeholder="收货地址(默认选项)" name="addr" required="required">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">头像</div>
                    <input type="file" name="icon" required="required">
                </div>
            </div>
            <input type="submit" id="subButton" value="注册">
        </form>
    </div>
{% endblock %}

